*{
    padding: 0;
    margin: 0;
}

#head{
/*     margin-left:600px ;
    margin-top: 60px;
    margin-bottom:10px; */
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-family: 'Syne Mono', monospace;
    color: red;
    text-shadow: black 1px 3px;

}
#game{
    /* margin-top: 20px; */
    /* margin-left: 535px; */
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, white, cyan);
}


#character{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1;
    border: 1px solid black;
    box-shadow: black 2px 0px 3px;



}
.block{
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;

}
.hole{
    width: 40px;
    height: 20px;
    background-image: linear-gradient(to bottom right,white, cyan);
    position: relative;
    top: 100px;
    margin-top: -20px;
}
